<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.persistence.mapper.StockDailyValuationMapper">

    <insert id="upsertBatch">
        INSERT INTO stock_daily_valuation (
            ts_code,
            trade_date,
            total_share,
            float_share,
            free_share,
            total_mv,
            circ_mv,
            pe,
            pe_ttm,
            pb,
            ps,
            ps_ttm,
            dv_ratio,
            dv_ttm,
            create_time,
            update_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.tsCode},
            #{item.tradeDate},
            #{item.totalShare},
            #{item.floatShare},
            #{item.freeShare},
            #{item.totalMv},
            #{item.circMv},
            #{item.pe},
            #{item.peTtm},
            #{item.pb},
            #{item.ps},
            #{item.psTtm},
            #{item.dvRatio},
            #{item.dvTtm},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            total_share = VALUES(total_share),
            float_share = VALUES(float_share),
            free_share = VALUES(free_share),
            total_mv = VALUES(total_mv),
            circ_mv = VALUES(circ_mv),
            pe = VALUES(pe),
            pe_ttm = VALUES(pe_ttm),
            pb = VALUES(pb),
            ps = VALUES(ps),
            ps_ttm = VALUES(ps_ttm),
            dv_ratio = VALUES(dv_ratio),
            dv_ttm = VALUES(dv_ttm),
            update_time = CURRENT_TIMESTAMP
    </insert>
</mapper>
